.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 30px;
  }

.bg-light {
    background-color: rgb(72, 72, 97)!important;
    color: white;
}

i {
    font-size: 20px;
    color: white;
}

.city-name {
    border: none;
    width: 100%;
    margin-right: 25px;
}
.col-12 {
    background-color: rgb(42, 42, 44);
    color: white;
}
#five-day {
    border: none;
    font-size: 24px;
    width: 100%;
    background-color: rgb(42, 42, 44);
    color: white;
    margin-right: 25px;
}

body {
    background-image: linear-gradient(to bottom, #00c3ff, rgb(172, 233, 252));
}


